Repository yong4s/TaskFlow: changes, and which pre-commit hooks are due for each by the changed paths.
All: safety-production-dependencies-check, ruff, end-of-file-fixer, check-docstring-first, name-tests-test, requirements-txt-fixer, double-quote-string-fixer

.pre-commit-config.yaml:

exclude: fixtures/
repos:
  - repo: local
    hooks:
      - id: mypy
        name: Mypy check
        entry: mypy
        language: system
        args: [ --install-types, --non-interactive, apps ]
        pass_filenames: false
      - id: safety-production-dependencies-check
        name: Safety production dependencies check
        entry: safety
        args: [ check, --full-report, --file ]
        language: system
        files: requirements/production.txt
      - id: ruff-format
        name: ruff-format
        entry: ruff
        require_serial: true
        types_or: [ python, pyi ]
        args: [ format, --preview ]
        language: python
        files: apps/
      - id: ruff
        name: ruff
        entry: ruff
        args: [ check, --fix, --preview ]
        language: system
        types: [ python ]
      - id: trailing-whitespace
        name: trim trailing whitespace
        entry: trailing-whitespace-fixer
        language: python
        args: [ --markdown-linebreak-ext=md ]
        types: [ text ]
        stages: [ commit, push, manual ]
      - id: end-of-file-fixer
        name: end-of-file-fixer
        entry: end-of-file-fixer
        language: python
        exclude: static|README.md
        types: [ text ]
        stages: [ commit, push, manual ]
      - id: check-docstring-first
        name: check-docstring-first
        entry: check-docstring-first
        language: python
        types: [ python ]
      - id: name-tests-test
        name: name-tests-test
        entry: name-tests-test
        language: python
        args: [ '--django' ]
        exclude: factories.py
        files: (^|/)tests/.+\.py$
      - id: requirements-txt-fixer
        name: requirements-txt-fixer
        entry: requirements-txt-fixer
        language: python
        files: (requirements|constraints).*\.txt$
      - id: double-quote-string-fixer
        name: fix double quoted strings
        entry: double-quote-string-fixer
        language: python
        types: [ python ]

docs(readme): update git standarts
  README.md
Due: none

docs: add entity relations diagram
  docs/diagrams/entity_relations_diagram.md
Due: end-of-file-fixer

fix: change requirements for current versions
  requirements/base.txt
Due: end-of-file-fixer, requirements-txt-fixer

fix(docker-compose): changing postgres version to 16 to work with Django 5.2
  Dockerfile
  docker-compose.yml
Due: end-of-file-fixer

feat(projects): initialize projects app structure
  apps/projects/__init__.py
  apps/projects/admin.py
  apps/projects/apps.py
  apps/projects/migrations/__init__.py
  apps/projects/models.py
  apps/projects/tests.py
  apps/projects/views.py
Due: ruff, end-of-file-fixer, check-docstring-first, double-quote-string-fixer

feat(logging): add logger to the settings
  settings/base.py
Due: ruff, end-of-file-fixer, check-docstring-first, double-quote-string-fixer

chore(settings): register projects and tasks apps update AUTH_USER_MODEL to our custom model
  apps/tasks/__init__.py
  apps/tasks/admin.py
  apps/tasks/apps.py
  apps/tasks/migrations/__init__.py
  apps/tasks/models.py
  apps/tasks/tests.py
  apps/tasks/views.py
  settings/base.py
Due: ruff, end-of-file-fixer, check-docstring-first, double-quote-string-fixer

feat(models): add Project and Task models with Django admin
  apps/projects/admin.py
  apps/projects/models.py
  apps/tasks/admin.py
  apps/tasks/models.py
Due: ruff, end-of-file-fixer, check-docstring-first, double-quote-string-fixer

fix(settings): remove duplicate accounts app registration
  apps/accounts/apps.py
  apps/projects/apps.py
  apps/tasks/apps.py
  settings/main.py
Due: ruff, end-of-file-fixer, check-docstring-first, double-quote-string-fixer

fix(models): shorten index names to meet 30 character limit
  apps/projects/models.py
  apps/tasks/models.py
Due: ruff, end-of-file-fixer, check-docstring-first, double-quote-string-fixer

feat(core): add utils package for helper and abstract classes
  apps/utils/__init__.py
  apps/utils/dal.py
Due: ruff, end-of-file-fixer, check-docstring-first, double-quote-string-fixer

feat(dal): implement repository pattern with BaseRepository, TaskRepository and ProjectRepository
  apps/projects/dal.py
  apps/tasks/dal.py
  apps/utils/dal.py
Due: ruff, end-of-file-fixer, check-docstring-first, double-quote-string-fixer

feat(exceptions): create decorator for handle our custom exceptions
  apps/utils/decorators.py
  apps/utils/exceptions.py
Due: ruff, end-of-file-fixer, check-docstring-first, double-quote-string-fixer

feat(architecture): implement service layer with validation separation
  .env.sample
  .gitignore
  apps/projects/services.py
  apps/projects/validators.py
  apps/tasks/services.py
  apps/tasks/validators.py
Due: ruff, end-of-file-fixer, check-docstring-first, double-quote-string-fixer

refactor: delete redundant doc strings
  apps/projects/validators.py
  apps/tasks/services.py
  apps/tasks/validators.py
Due: ruff, end-of-file-fixer, check-docstring-first, double-quote-string-fixer

test(services): add comprehensive unit and integration tests
  apps/projects/tests/__init__.py
  apps/projects/tests/test_services.py
  apps/tasks/tests/__init__.py
  apps/tasks/tests/test_services.py
Due: ruff, end-of-file-fixer, check-docstring-first, name-tests-test, double-quote-string-fixer

refactor(services): optimize DAL queries and consolidate service methods
  apps/projects/services.py
  apps/tasks/services.py
Due: ruff, end-of-file-fixer, check-docstring-first, double-quote-string-fixer

feat: add SQL task solutions
  SQL.md
Due: end-of-file-fixer

feat(tasks): add priority field to Task model and forms
  apps/tasks/forms.py
  apps/tasks/migrations/0001_initial.py
  apps/tasks/models.py
Due: ruff, end-of-file-fixer, check-docstring-first, double-quote-string-fixer

perf(projects): optimize task fetching with Prefetch and smart sorting
  apps/projects/dal.py
Due: ruff, end-of-file-fixer, check-docstring-first, double-quote-string-fixer

refactor(tasks): simplify toggle_task_status logic
  apps/tasks/services.py
Due: ruff, end-of-file-fixer, check-docstring-first, double-quote-string-fixer

feat(ui): implement priority display and editing in templates
  static/css/styles.css
  templates/partials/task_edit_form.html
  templates/partials/task_row.html
Due: end-of-file-fixer

chore: remove redundant comments and update gitignore
  .gitignore
  apps/projects/views.py
Due: ruff, end-of-file-fixer, check-docstring-first, double-quote-string-fixer

feat(templated): add base template and partial template for HTMX
  templates/account/login.html
  templates/account/logout.html
  templates/account/signup.html
  templates/base.html
  templates/home.html
  templates/partials/project_card.html
  templates/partials/project_create_form.html
  templates/partials/project_list.html
  templates/partials/task_list.html
Due: end-of-file-fixer

refactor: entity relations diagram
  docs/diagrams/entity_relations_diagram.md
Due: end-of-file-fixer

refactor: global architecture improvements and code cleanup
  README.md
  apps/accounts/managers.py
  apps/middleware.py
  apps/projects/admin.py
  apps/projects/forms.py
  apps/projects/migrations/0001_initial.py
  apps/projects/models.py
  apps/projects/services.py
  apps/projects/tests/test_services.py
  apps/projects/urls.py
  apps/projects/validators.py
  apps/tasks/admin.py
  apps/tasks/dal.py
  apps/tasks/tests.py
  apps/tasks/tests/test_services.py
  apps/tasks/urls.py
  apps/tasks/validators.py
  apps/tasks/views.py
  apps/urls.py
  apps/utils/dal.py
  apps/utils/decorators.py
  apps/utils/exceptions.py
  requirements/base.txt
  settings/base.py
  settings/main.py
Due: ruff, end-of-file-fixer, check-docstring-first, name-tests-test, requirements-txt-fixer, double-quote-string-fixer

refactor: change toggle view change toggle view to actions, add views tests
  apps/projects/tests.py
  apps/projects/tests/test_views.py
  apps/tasks/dal.py
  apps/tasks/migrations/0002_alter_task_status.py
  apps/tasks/models.py
  apps/tasks/services.py
  apps/tasks/tests.py
  apps/tasks/tests/test_services.py
  apps/tasks/tests/test_views.py
  apps/tasks/urls.py
  apps/tasks/views.py
  templates/base.html
  templates/partials/project_card.html
  templates/partials/task_edit_form.html
  templates/partials/task_row.html
Due: ruff, end-of-file-fixer, check-docstring-first, name-tests-test, double-quote-string-fixer

refactor: implement RESTful architecture with proper separation of concerns
  apps/projects/tests/test_views.py
  apps/projects/urls.py
  apps/projects/views.py
  apps/tasks/tests/test_views.py
  apps/tasks/urls.py
  apps/tasks/views.py
  apps/urls.py
  templates/home.html
  templates/partials/project_card.html
  templates/partials/task_edit_form.html
  templates/partials/task_row.html
Due: ruff, end-of-file-fixer, check-docstring-first, name-tests-test, double-quote-string-fixer

fix: resolve critical Ruff linting issues
  apps/projects/services.py
  apps/projects/tests/test_views.py
  apps/projects/views.py
  apps/tasks/migrations/0002_alter_task_status.py
  apps/tasks/services.py
  apps/tasks/tests/test_services.py
  apps/tasks/tests/test_views.py
  apps/tasks/views.py
Due: ruff, end-of-file-fixer, check-docstring-first, name-tests-test, double-quote-string-fixer

refactor: consolidate duplicate imports across codebase
  apps/accounts/migrations/0001_initial.py
  apps/middleware.py
  apps/projects/dal.py
  apps/projects/migrations/0001_initial.py
  apps/projects/tests/test_services.py
  apps/projects/validators.py
  apps/projects/views.py
  apps/tasks/dal.py
  apps/tasks/migrations/0001_initial.py
  apps/tasks/migrations/0002_alter_task_status.py
  apps/tasks/models.py
  apps/tasks/services.py
  apps/tasks/tests/test_services.py
  apps/tasks/validators.py
  apps/tasks/views.py
  apps/utils/decorators.py
Due: ruff, end-of-file-fixer, check-docstring-first, name-tests-test, double-quote-string-fixer
